*.xcodeproj
*.o
*.hex
*.elf
.DS_Store
*.d
FTServoPot/FTServoPot/Debug/*
FTServoComms/FTServoComms/Debug/*
TestCode/Debug/*
TestCode/ipch/*
TestCode/TestCode/Debug/*

*.pyc

*.pyc

*.pyc

/Python/v2FaceTrack/_eric4project/*

Python/v2FaceTrack/.ropeproject/*
*.e4q

*.e4t
